ENVIRONMENT = DEV # Options: DEV, PROD
PORT = 8080

# cookies settings
COOKIE_DOMAIN = localhost
COOKIE_SECURE = false # Options: true, false

# goose settings
GOOSE_DRIVER = postgres
GOOSE_DBSTRING = postgres://postgres:1234@localhost:5432/postgres
GOOSE_MIGRATION_DIR = internal/db/migrations

# email configuration
EMAIL_ENABLE = true # Options: true, false
EMAIL_SMTP_HOST = smtp.gmail.com
EMAIL_SMTP_PORT = 587
EMAIL_FROM_EMAIL = your-email@gmail.com
EMAIL_FROM_PASSWORD = your-app-password
EMAIL_FROM_NAME = "Nyx System"

# S3 Configuration (Supabase, Garage, MinIO, AWS S3)
S3_ENDPOINT="http://localhost:3900"
S3_REGION="us-east-1"
S3_BUCKET_NAME="nyx-items"
S3_ACCESS_KEY_ID="your-access-key"
S3_SECRET_ACCESS_KEY="your-secret-key"

OPENROUTER_API_KEY="add-your-api-key-here"
GEMINI_API_KEY="add-your-api-key-here"