ENVIRONMENT = DEV # Options: DEV, PROD
PORT = 8080

# cookies settings
COOKIE_DOMAIN = localhost
COOKIE_SECURE = false # Options: true, false

# goose settings
GOOSE_DRIVER = postgres
GOOSE_DBSTRING = postgres://postgres:1234@localhost:5432/postgres
GOOSE_MIGRATION_DIR = internal/db/migrations